include _partials/header.jade
body
	header
		.container
			.row
				//- logo
				.col-md-4.logo
					img(src="img/logo.png")

				//- search
				.col-md-4.col-md-offset-4.search
					form(action="#")
						input(type="text",)
				
				.col-md-12
					nav
						ul
							li
								a(href='#') Home
							li
								a(href='#') Books
							li
								a(href='#') Poetry
	.content
		.container
			.row
				aside			
					.cat

				section
					img(src="img/contentimg.jpg", alt="")
				aside

include _partials/footer.jade