doctype html
html(lang="en")
  head
    title= tangent
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )    
    link(rel="stylesheet", href="css/fonts/snowcone/snowcone-vanilla.css", media="screen")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald", media="screen")    	
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.min.css")